.product-card-section {
  margin: 5rem auto;
}
.product-card-section h3 {
  font-size: 2rem;
}
.product-card-section h4 {
  margin: 0;
  padding-top: 0.4rem;
  font-size: 1.6rem;
  color: #aba098;
}
.product-card-section ul,
.product-card-section li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.product-card-section a {
  text-decoration: none;
  color: inherit;
}
.product-card-section .product-card-container .product-card {
  color: #aba098;
  font-weight: bold;
  margin: 1rem;
}
.product-card-section .product-card-container .product-card .product-image-container {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.product-card-section .product-card-container .product-card .product-image-container::before {
  content: "";
  display: block;
  margin-top: 100%;
  background-color: #999;
}
.product-card-section .product-card-container .product-card .product-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: all 400ms ease;
}
.product-card-section .product-card-container .product-card .product-choose {
  position: relative;
  width: 100%;
  height: 3.2rem;
  margin-top: -3.2rem;
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.product-card-section .product-card-container .product-card.sold-out .product-choose {
  opacity: 1;
  width: 6rem;
  border-radius: 3px;
}
.product-card-section .product-card-container .product-card.sold-out .product-image-container img {
  opacity: 0.7;
}
.product-card-section .product-card-container .product-description {
  grid-column: 1/-1;
  margin: 2rem 0;
}
.product-card-section .product-card-container .product-description p {
  margin: 0.5rem 0;
}
.product-card-section .product-card-container li:hover .product-choose {
  opacity: 1;
}
.product-card-section .product-card-container li:hover .product-image-container img {
  transform: scale(1.01);
}
.product-card-section .product-price {
  color: #77a464;
  font-weight: bold;
}
.product-card-section .product-card-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 560px) {
  .product-card-section .product-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 860px) {
  .product-card-section .product-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}